.grupo-container {
    width: 15rem;
    padding: 1.5%;
    background: #b4b4b8;
    border-radius: 0.5rem;
    align-items: center;

}

.grupo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grupo-titulo {
    font-size: 1rem;
    color: #0d1a36;
}

.grupo-contagem {
    background: #919194;
    width: 14px;
    height:13px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.card-botao {
    border: transparent;
    background: transparent;
    font-weight: bold;
    color: #424a5a;
    margin-top: 5%;
}

.card-botao:hover {
    color: #919194;
}