.pesquisa-container {
  margin: 1%;
  width: 20vw;
  height: 4vh;
  display: flex;
  align-items: center;
  background: #dfe2e7;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.pesquisa-icon {
  margin: 0.5rem;
}

.pesquisa-input {
  height: 100%;
  width: 100%;
  padding: 10px;
  border: transparent;
  border-radius: 0.2rem;
  background: #dfe2e7;
}

.pesquisa-input:focus {
  outline: none;
}
