.card-container {
  min-height: 10vh;
  width: 100%;
  background-color: whitesmoke;
  margin-bottom: 6%;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 6px solid #4d8df4;
  position: relative;
}

.card-completado {
  border-left: 6px solid #75cf87;
  background-color: #d8f8df;
  color: #3f6846;
  text-decoration: line-through;
  accent-color: #75cf87;
}

.card-atrasado {
  border-left: 6px solid #cf7575;
  background-color: #f8d8d8;
  color: #291919;
  accent-color: #cf7575;
}

.card-footer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.tarefa-texto {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.data {
  display: flex;
  margin-left: 0.6rem;
  align-items: center;
  padding: 2% 5%;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: bold;
  gap: 5px;
  background: #8080803b;
  color: #434852;
}

.card-delete-btn {
  position: absolute;
  top: 7px;
  right: 5px;
  font-size: 0.7rem;
  display: none;
}

.card-container:hover .card-delete-btn {
  display: block;
}
